@import "variables";
@import"mediaQueries";
*{
    padding:0;
    margin:0;
    text-decoration: none;
    list-style: none;
}
body{
    background-color:#def2fc;
    @include Tablets{
    }
    @include Desktop{
      text-align: left;
    }
}
h3{
  color:rgb(213, 175, 52);
  @include Tablets{
    text-align: center;
  }
  @include Desktop{
    text-align: left;
  }
}
h2{
  color:#d5af34af;
  font-size: 20px;
}
header{
  padding:0;
  margin:0;
  @include Tablets{
    height: 400px;
  }
  @include Laptops{
    height: 100px;
  }
  @include Desktop {
  height:0;
}
}
/*-----Mobile Click Animation--------*/
#menu{
  color:white;
  position: absolute;
  height: 500px;
  z-index: 4;

}
.wrap{
  @include SmallPhones{
    display: none;
  }
  @include Phones{
    display: none;
  }
  @include Tablets{
    display: none;
  }
@include Laptops{
  display: inline;
}
@include Desktop{
  display: inline;
}
}

.svg-inline--fa.fa-w-12:hover{
  color:rgb(255, 72, 0);
}
#mobile{
  height: 400px;
  @include SmallPhones{
    background-image: url(../images/extraSmall.jpg);
  }
  @include Phones{
    background-image: url(../images/phoneTemple.jpg);
  }
  @include Tablets{
    background-image: url(../images/TabletBanner.jpg);
    display: block;
  }
  @include Laptops{
    display: none;
  }
  @include Desktop{
    display: none;
  }
  }
.nav{
  height: 400px;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:  rgb(54, 54, 54);
  opacity: .9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.8s;
}
.nav a{
  display: block;
  padding: 20px 30px;
  font-size: 20px;
  color:rgb(255, 255, 255);
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;

}
.nav a:hover{
  color:#d5af34;
  transition: 0.2s;
}
.nav .close{
  position: absolute;
  top:0;
  right:25px;
  font-size: 30px;
}
.slide a{
  color:#000;
  font-size: 35px;
}
.slide a:hover{
  color: rgb(0, 195, 255);
  font-size: 35px;
}
#content{
  padding:20px;
  transition: margin-left 0.7s;
  overflow: hidden;
  width: 50%;
}
/*-----Code for Navigation Bar--------*/
nav{
  @include SmallPhones{
  
  }
  @include Phones{
 
  }
 @include Tablets{

  
  }
  @include Laptops{
    height: 100px;
    width: 100%;
    background-color: rgb(54, 54, 54);
    position: fixed;
    z-index: 3;
  }
  @include Desktop{
    width: 100%;
    height: 100px;
    background-color: rgb(54, 54, 54);
    position: fixed;
    padding:10px 50px;
    z-index: 3;
    background: rgb(54, 54, 54);
    
  }

    img{
        height: 90px;
        width: 70px;
    }
    .logo{
        float: left;
        padding-left: 20px;
    }
    ul li{
      @include Tablets{
        font-size: 25px;
      }
      @include Laptops{
        width:200px;
      }
      @include Desktop{
        width: 250px;
      }
        width:210px;
        float:right;
    }
    
    ul li a{
        line-height: 80px;
        color:white;
        padding-left: 10px;
        text-transform: uppercase;
        font-family: $fontSansPro;
        font-weight: bold;
       
    }
    a:hover{
      color:#d5af34;
    }
    ul li ul li{
      display: none;
      @include Tablets{
        font-size: 20px;
      }
      @include Desktop{
        font-size: 14px;
      }
   
    }
    ul li ul li a{
    @include Desktop{
      padding-right: 20px;
      font-size: 15px;
    }

    }
    @include Tablets{
      font-size: 15px;
    }
    ul li:hover ul li{
      display: block;
      background-color: rgba(0,0,0,0.6);
    }
}


/*-------Curtain Effect----------- */
#container{
  background-color:#def2fc;
}
.curtain {
  z-index: 3;
    width: 100%;
    overflow: hidden;
    @include Desktop{
      padding-top:100px;
    }   
  }
  .left-panel{
   
    width: 50%;
    height: 450px;
    float: left;
    z-index: 2;
    position: relative;
    box-sizing: border-box;
    background-image: url(../images/LeftPanel.jpg);
    transition: all 1s ease-in;
    @include SmallPhones{
      display: none;
    } 
    @include Phones{
      display: none;
    }
    @include Tablets{
      display: none;
    }
    @include Desktop{
      display: list-item;
    }
  }
  .right-panel {
    width: 50%;
    height: 450px;
    float: left;
    z-index: 2;
    position: relative;
    background-image: url(../images/RightPanel.jpg);
    transition: all 1s ease-in;
    @include SmallPhones{
      display: none;
    } 
    @include Phones{
      display: none;
    }
    @include Tablets{
      display: none;
    }
    @include Desktop{
      display: list-item;
    }
  }
  .content1 {
    @include SmallPhones{
      margin-top:50px;
    }
    @include Phones{
      margin-top: 60px;
    }
    @include Tablets{
      position: relative;
    }
    @include Desktop{
      position: absolute;
    }
    position: absolute;
    width: 100%;
    z-index: 1;
    text-align: center;
    form{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: transparent;
      color: white;
      font-size: 25px;
      padding: 12px 24px;
      border: 3px solid white;
      cursor: pointer;
      border-radius: 10px;
      text-align: center;
    }
    input{
      color: white;
      background-color: transparent;
      border:none;
    }
    input:hover{
      color: black;
    }
    
form:hover{
    background-color: rgb(0, 195, 255);
  }
    
  }
  #UnderCurtainImg1{
    width: 100%;
    margin-top: 30px;
  }
  #UnderCurtainImg2{
    display: none;
  }

  .curtain:hover {
    .left-panel {
      transform: translateX(-100%);
    }
    
    .right-panel {
      transform: translateX(100%);
    }
  }
    /*------Search Bar-------*/

  nav .Search-Container1{
    float: left;
  }
  nav .Search-Container1 button{
      font-size: 25px;
      border-radius: 3px;
      color:white;
      background-color: transparent;
      border:none;
      padding-top: 6px;
  }
  nav .Search-Container1 button:hover{
    color:rgb(0, 195, 255);
  }
nav input{
  @include Tablets{
    height: 20px;
  }
  @include Laptops{
    height: 20px;
  }
  @include Desktop{
    height: 30px;
  }
  border-radius: 5px;
  width: 150px;
  padding:6px;
  font-size: 17px;
  margin-top: 20px;
  margin-left: 10px;
  border:none;
}
  .Search-Container2{
    @include Tablets{
      display: block;
    }
    @include Laptops{
      display: none;
    }
    @include Desktop{
      display: none;
    }
  }
  .Search-Container2 input{
    border-radius: 5px;
    width: 40%;
    height: 30px;
    padding:6px;
    font-size: 17px;
    margin-top: 20px;
    margin-left: 170px;
    border:none;
    background-color: rgb(213, 176, 52);
  }
  .Search-Container2 button{
    font-size: 25px;
      border-radius: 3px;
      color:rgb(184, 183, 183);
      background-color: transparent;
      border:none;
      padding-top: 6px;
  }
  .Search-Container2 button:hover{
    color:black;
  }
  /*------Content on the page-------*/
#Hometitle{
  @include SmallPhones{
    font-size:30px;
    width: 300px;
  }
  float: left;
  padding-bottom: 35px;
  border-bottom: 4px solid #d5af34;
  margin-bottom: 20px;
  font-size: 35px;
  font-family: 'Source Sans Pro', sans-serif;
}
#TopHalf{
  display: grid;
  @include SmallPhones{
    margin-top:200px;
  }
  @include Phones{
    margin-top:200px;
  }
  @include Tablets{
    margin-top: 0;
  }
  @include Laptops{
    grid-template-columns: 1fr 1fr;
  }
  @include Desktop{
    padding-top: 20px;
    grid-template-columns: 67% 1fr;
  }

}
aside{
  width: 500px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  float: right;
  margin:auto;
}
.HomepageButton:hover{
  color:black;
}
.HomepageButton input{
  padding:10px;
  color: white;
  background-color: transparent;
  border-style: none;
}
.HomepageButton input:hover{
  color: black;
  cursor: pointer;
}
.HomepageButton{
  @include SmallPhones{
    border: 3px solid black; 
    background: #d5af34;
    width: 300px;
    font-size: 25px;
    color:white;
    margin-left: 20px;
    margin-top: 20px;
    height: 60px;
    padding:20px;
    border-radius: 10px;
    text-align: center;
  }
  @include Phones{
    border: 3px solid black; 
    background: #d5af34;
    width: 500px;
    font-size: 25px;
    color:white;
    height: 60px;
    padding:20px;
    border-radius: 10px;
    text-align: center;
  }
  @include Tablets{
    border: 3px solid black; 
    background: #d5af34;
    width: 500px;
    font-size: 25px;
    color:white;
    height: 60px;
    padding:20px;
    border-radius: 10px;
    text-align: center;
  }
  @include Laptops{
  border: 3px solid black; 
  background: #d5af34;
  padding:10px;
  width: 500px;
  height: 100px;
  font-size: 25px;
  color:white;
  height: 60px;
  padding:20px;
  border-radius: 10px;
  text-align: center;
  }
  @include Desktop{
  border: 3px solid black; 
  background: #d5af34;
  width: 500px;
  font-size: 25px;
  color:white;
  text-align: center;
  margin-top: 20px;
  height: 60px;
  padding:20px;
  border-radius: 10px;
} 
}

#Quote{
  @include SmallPhones{
  display: none;
  }
  font-size: 25px;
  font-weight: normal;
  margin:auto;
  text-align: center;
}
#Purpose{
  @include Tablets{
    text-align: center;
    width: 100%;
    font-size: 50px;
    display: block;
    margin-bottom: 50px;
    p{
      font-size:28px;
    }
  }
  @include Desktop{
    width: 60%;
    font-size: 50px;
    display: block;
    margin-bottom: 50px;
    p{
      font-size:28px;
    }
  }

}
#sectionForPics{
  width: 100%;
  
  @include Tablets{
    grid-template-columns: 1fr;
  }

  @include Desktop{

  grid-gap: 10px;
  }
}
#TwoSmallPics{
 
  display: grid;
  @include Tablets {
    grid-template-columns: 1fr;
  }  
  @include Laptops {
    grid-template-columns: 1fr 1fr;
  }
  @include Desktop{
    grid-template-columns: 1fr 1fr;
  }
}
.SmallPic1{
  @include SmallPhones{
    width: 300px;
  }
  width: 100px;
  background-image: url(../images/TempleSqure.jpg);
  border:4px solid  #d5af34;
  margin:auto;
  margin-top: 20px;
  width: 500px;
  height: 380px;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.SmallPic2{
  @include SmallPhones{
    width: 300px;
  }
  background-image: url(../images/NightTempleSquare.jpg);
  border:4px solid  #d5af34;
  margin:auto;
  width: 500px;
  height: 380px;
  box-sizing: border-box;
  margin-bottom: 20px;
}
img{
  width: 100%;
  box-sizing: border-box;
}
h1, h2, h2, h3, h4, h5{
  font-family: $fontDisplay;}

  footer{
    form{
      background-color: transparent;
      color: white;
      font-size: 25px;
      border: 3px solid white;
      cursor: pointer;
      border-radius: 10px;
      text-align: center;
      width: 250px;
      margin: 0 auto;
      padding:10px;
     
    }
    input{
      color: white;
      background-color: transparent;
      border:none;
    }
    input:hover{
      color: black;
    }
    
form:hover{
    background-color: rgb(0, 195, 255);
  }
    @include SmallPhones{
      height: 750px;
    }
    @include Phones{
      height: 700px;
    }
    @include Tablets{
      height: 100%;
    }
    @include Laptops{
      height: 100%;
    }
    @include Desktop{
      height: 100%;
    }
  color:white;
  text-align: center;
  width: 100%;
  height:100%;
  margin-top:20px;
  background: rgb(54, 54, 54);
  position: relative;
  .svg-inline--fa{
    @include SmallPhones{
      text-align: left;
      padding-top: 10px;
      font-size: 45px;
      color:white;
      margin:auto;
    }
    @include Phones{
      text-align: left;
      padding-top: 10px;
      font-size: 45px;
      color:white;
      margin:auto;
    }
    @include Tablets{
      text-align: left;
      padding-top: 10px;
      font-size: 30px;
      color:white;
      }
    @include Laptops{
      text-align: left;
      padding-top: 10px;
      font-size: 30px;
      color:white;
      }
    @include Desktop{
    text-align: left;
    padding-top: 10px;
    font-size: 30px;
    color:white;
    }
  }
  .svg-inline--fa:hover{
    color:  #d5af34;
    @include SmallPhones{    
      font-size: 55px;
    }
    @include Phones{    
      font-size: 55px;
    }
    @include Tablets {
      font-size: 35px;
    }
    @include Laptops{
      font-size: 35px;
    }
    @include Desktop{
      font-size: 35px;
    }
  }
}

footer #footer-buttom{
  bottom: 0;
  width: 100%;
  left: 0;
  padding-top: 10px;
  position: absolute;
  background-color: rgb(68, 68, 68);
  color: rgb(209, 209, 209);
  height: 50px;
  text-align: center;
}
footer #footer-content{
  display: grid;
  @include Phones{
    grid-template-columns: 1fr;
  }
  @include Tablets{
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include Desktop{
  grid-template-columns: 1fr 1fr 1fr;
  }
  height: 350px;
  button{


    background-color: transparent;
    color: white;
    font-size: 25px;
    padding: 12px 24px;
    border: 3px solid white;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
  }
  
  button:hover{
  background-color: rgb(0, 195, 255);
  }
}
