@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro&display=swap");
main {
  width: 100%;
  height: 100%;
}

h1, h2, h2, h3, h4, h5 {
  font-family: "Playfair Display", serif;
  padding: 20px;
}

p {
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 20px;
}

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #def2fc;
}

@media only screen and (min-width: 1600px) {
  body {
    text-align: left;
  }
}

h3 {
  color: #d5af34;
}

@media only screen and (min-width: 768px) {
  h3 {
    text-align: center;
  }
}

@media only screen and (min-width: 1600px) {
  h3 {
    text-align: left;
  }
}

h2 {
  color: #d5af34af;
  font-size: 20px;
}

header {
  padding: 0;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  header {
    height: 400px;
  }
}

@media only screen and (min-width: 1110px) {
  header {
    height: 100px;
  }
}

@media only screen and (min-width: 1600px) {
  header {
    height: 0;
  }
}

/*-----Mobile Click Animation--------*/
#menu {
  color: white;
  position: absolute;
  height: 500px;
  z-index: 4;
}

@media only screen and (max-width: 600px) {
  .wrap {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .wrap {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .wrap {
    display: none;
  }
}

@media only screen and (min-width: 1110px) {
  .wrap {
    display: inline;
  }
}

@media only screen and (min-width: 1600px) {
  .wrap {
    display: inline;
  }
}

.svg-inline--fa.fa-w-12:hover {
  color: #ff4800;
}

#mobile {
  height: 400px;
}

@media only screen and (max-width: 600px) {
  #mobile {
    background-image: url(../images/extraSmall.jpg);
  }
}

@media only screen and (min-width: 600px) {
  #mobile {
    background-image: url(../images/phoneTemple.jpg);
  }
}

@media only screen and (min-width: 768px) {
  #mobile {
    background-image: url(../images/TabletBanner.jpg);
    display: block;
  }
}

@media only screen and (min-width: 1110px) {
  #mobile {
    display: none;
  }
}

@media only screen and (min-width: 1600px) {
  #mobile {
    display: none;
  }
}

.nav {
  height: 400px;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #363636;
  opacity: .9;
  overflow-x: hidden;
  padding-top: 60px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.nav a {
  display: block;
  padding: 20px 30px;
  font-size: 20px;
  color: white;
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav a:hover {
  color: #d5af34;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.nav .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 30px;
}

.slide a {
  color: #000;
  font-size: 35px;
}

.slide a:hover {
  color: #00c3ff;
  font-size: 35px;
}

#content {
  padding: 20px;
  -webkit-transition: margin-left 0.7s;
  transition: margin-left 0.7s;
  overflow: hidden;
  width: 50%;
}

/*-----Code for Navigation Bar--------*/
@media only screen and (min-width: 1110px) {
  nav {
    height: 100px;
    width: 100%;
    background-color: #363636;
    position: fixed;
    z-index: 3;
  }
}

@media only screen and (min-width: 1600px) {
  nav {
    width: 100%;
    height: 100px;
    background-color: #363636;
    position: fixed;
    padding: 10px 50px;
    z-index: 3;
    background: #363636;
  }
}

nav img {
  height: 90px;
  width: 70px;
}

nav .logo {
  float: left;
  padding-left: 20px;
}

nav ul li {
  width: 210px;
  float: right;
}

@media only screen and (min-width: 768px) {
  nav ul li {
    font-size: 25px;
  }
}

@media only screen and (min-width: 1110px) {
  nav ul li {
    width: 200px;
  }
}

@media only screen and (min-width: 1600px) {
  nav ul li {
    width: 250px;
  }
}

nav ul li a {
  line-height: 80px;
  color: white;
  padding-left: 10px;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
}

nav a:hover {
  color: #d5af34;
}

nav ul li ul li {
  display: none;
}

@media only screen and (min-width: 768px) {
  nav ul li ul li {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1600px) {
  nav ul li ul li {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1600px) {
  nav ul li ul li a {
    padding-right: 20px;
    font-size: 15px;
  }
}

@media only screen and (min-width: 768px) {
  nav {
    font-size: 15px;
  }
}

nav ul li:hover ul li {
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
}

footer {
  color: white;
  text-align: center;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  background: #363636;
  position: relative;
}

footer form {
  background-color: transparent;
  color: white;
  font-size: 25px;
  border: 3px solid white;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  margin: 0 auto;
  padding: 10px;
}

footer input {
  color: white;
  background-color: transparent;
  border: none;
}

footer input:hover {
  color: black;
}

footer form:hover {
  background-color: #00c3ff;
}

@media only screen and (max-width: 600px) {
  footer {
    height: 750px;
  }
}

@media only screen and (min-width: 600px) {
  footer {
    height: 700px;
  }
}

@media only screen and (min-width: 768px) {
  footer {
    height: 100%;
  }
}

@media only screen and (min-width: 1110px) {
  footer {
    height: 100%;
  }
}

@media only screen and (min-width: 1600px) {
  footer {
    height: 100%;
  }
}

@media only screen and (max-width: 600px) {
  footer .svg-inline--fa {
    text-align: left;
    font-size: 15px;
    color: white;
    margin: auto;
  }
}

@media only screen and (min-width: 600px) {
  footer .svg-inline--fa {
    text-align: left;
    font-size: 15px;
    color: white;
    margin: auto;
  }
}

@media only screen and (min-width: 768px) {
  footer .svg-inline--fa {
    text-align: left;
    font-size: 15px;
    color: white;
  }
}

@media only screen and (min-width: 1110px) {
  footer .svg-inline--fa {
    text-align: left;
    font-size: 15px;
    color: white;
  }
}

@media only screen and (min-width: 1600px) {
  footer .svg-inline--fa {
    text-align: left;
    font-size: 15px;
    color: white;
  }
}

footer .svg-inline--fa:hover {
  color: #d5af34;
}

@media only screen and (max-width: 600px) {
  footer .svg-inline--fa:hover {
    font-size: 20px;
  }
}

@media only screen and (min-width: 600px) {
  footer .svg-inline--fa:hover {
    font-size: 20px;
  }
}

@media only screen and (min-width: 768px) {
  footer .svg-inline--fa:hover {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1110px) {
  footer .svg-inline--fa:hover {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1600px) {
  footer .svg-inline--fa:hover {
    font-size: 20px;
  }
}

.footer-section-about .svg-inline--fa {
  font-size: 30px;
}

.footer-section-about .svg-inline--fa:hover {
  font-size: 35px;
}

footer #footer-buttom {
  bottom: 0;
  width: 100%;
  left: 0;
  padding-top: 10px;
  position: absolute;
  background-color: #444444;
  color: #d1d1d1;
  height: 50px;
  text-align: center;
}

footer #footer-content {
  display: -ms-grid;
  display: grid;
  height: 350px;
}

@media only screen and (min-width: 600px) {
  footer #footer-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 768px) {
  footer #footer-content {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1600px) {
  footer #footer-content {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

footer #footer-content button {
  background-color: transparent;
  color: white;
  font-size: 25px;
  padding: 10px 10px;
  border: 3px solid white;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
}

footer #footer-content button:hover {
  background-color: #00c3ff;
}

/* All THE FORM CODE AND STYLING*/
main {
  padding-top: 150px;
}

.containerForm {
  text-align: center;
  width: 350px;
  height: 100%;
  margin: 0 auto;
  color: white;
  font-size: 30px;
  background-color: #acacac;
}

.form-group {
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
  color: black;
}

input {
  height: 40px;
  border-radius: 10px;
  border: none;
}

div {
  padding-top: 5px;
}
/*# sourceMappingURL=reservation.css.map */