@media only screen and (min-width: 600px){
    body{
        background-color: rgb(226, 226, 226);
        display: block;
    }
    .gallery{
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 600px){
    body{
      display: block;
        background-color: rgb(185, 185, 185);
    }
    
    .gallery{
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media only screen and (min-width: 768px) {
    body{
        background-color: rgb(226, 226, 226);
    }
    .gallery{
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (min-width: 992px){
    .gallery{
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    body{
        background-color: rgb(255, 255, 255);
    }
}
  @media (max-width: 680px) {
    #headerstuff {
      width: 100%;
    }
  }
  @media (max-width: 680px) {
    header img {
      width: 100px;
    }
  }
  @media (max-width: 680px) {
    nav {
      background-color: transparent;
      height: 100%;
      padding-top: 30px;
      font-size: 50px;
    }
  }
  @media (max-width: 680px) {
    nav ul {
      width: 100%;
      display: block;
    }
  }
  
  @media (max-width: 680px) {
    nav ul.hide {
      display: none;
    }
  }

  
  @media (max-width: 680px) {
    nav a:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
  @media (max-width: 680px) {
    nav button {
      display: block;
      margin: .2rem 2%;
      background-color: transparent;
      border: none;
      font-size: 30px;
      cursor: pointer;
    }
  }
  @media (max-width: 1200px) {
    #headerstuff {
      width: 100%;
    }
  }
  @media (max-width: 1200px) {
    h2 {
      float: none;
      text-align: center;
    }
  }
  
  @media (max-width: 1200px) {
    nav {
      background-color: lightblue;
      height: 50px;
    }
  }
  @media (max-width: 1200px) {
    nav a {
      font-size: 20px;
    }
}
  @media (max-width: 1200px){
    nav a:hover{
      width: 100%;
      height: 100%;
    }
  }

  

  