* {
  margin: auto;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  list-style: none;
 
}
input:required{
  border-radius: 10px;
  border-left: #239cff solid 6px;
}
fieldset{

    border:none;
    margin-bottom: 30px;
    width: 100%;
   display:grid;
   background-color: transparent;
}
body{
    margin: 0 auto;
    background-image: url(images/mountainbackgroung.jpg);
}
main{
background-image: url(epicpic.jpg);
background-size: cover;
}
form{
  position: relative;
  max-width: 500px;
  background-color: transparent;
}
legend{
  text-align: center;
    color: yellow;
    font-size: 35px;
    padding-bottom: 20px;
}

label{
  display: block;
  text-align: center;
  line-height: 150%;
  font-size: 1.5em;
    color: white;
    padding-bottom: 15px;
}
input{
    margin-left: 25px;
    padding-left: 10px;
    height: 35px;
    border-radius: 20px;
}
#dangerlevel{
  width: 80%;
  border: 1px solid burlywood;
}
#phone{
  margin-left: 70px;
}
#email{
  margin-left: 70px;
}
#website{
  margin-left: 60px;
}
#zipcode{
  margin-left: 40px;
}
.comment{
  box-sizing: content-box;
  max-width: 500px;
  margin:0 auto;
}
#display{
  text-align:left;
  border:1px solid rgb(180, 180, 180);
  max-width: 500px;
  margin:0 auto;
  color: white;
  font-size: 20px;
}
#stormlist, #stormregion{
  background-color: #239cff;
  border-radius: 20px;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.submitBtn{
  background-color: wheat;
  height: 40px;
  font-size: 30px;
  margin: 0 auto;
}
/* Here is the slider code*/

.slidecontainer {
  width: 100%;
  color:rgb(255, 255, 255);
  }
  
  .slider {
    -webkit-appearance: none;
    width: 80%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 2;
    
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: rgb(78, 78, 78);
    cursor: pointer;
  }
  /* Here is the header css*/
  @media (max-width: 2000px) {
    nav {
      background-color: wheat;
      padding-top: 25px;
      height: 60px;
      width: 100%;
      text-align: center;
    }
  }
  header {
    padding: 5px 0;
    padding-top: 50px;
    height: 100%;
    width: 100%;
    text-align: center;
    background-image: url(images/bluesky.jpg);
    background-size: cover;
  }
  #headerstuff {
    display: inline-block;
    width: 100%;
  }
  
  #headerstuff img {
    float: left;
    padding-left: 50px;
    margin-bottom: 30px;
  }
  
  header img {
    width: 200px;
  }
  
  h1 {
    color: yellow;
    padding-top: 20px;
    padding-right: 70px;
    font-size: 45px;
  }
  
  h2 {
    font-size: 30px;
    color: white;
    float: left;
    padding-left: 30px;
  }
  h3 {
    font-size: 30px;
    padding-bottom: 15px;
  }
  header nav {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    width: 100%;
  }
  nav ul {
  
    display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-left: 50px;
  }
  nav a {
    font-size: 30px;
    color: #111;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
  }
  
  nav a:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    padding:20px;
  }
  
  nav a:active {
    color: yellow;
  }
  
  nav a:focus {
    color: yellow;
  }
  nav button {
    display: none;
  }
  nav button:hover {
    font-size: 50px;
    color: #ffff;
  }
   /* Here is the footer css*/

 footer {
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: #239cff;
}

