@media (max-width: 680px) {
    #primaryNav{
      margin: 0 auto;
    }
    header {
      background-image: url(https://wallpapersite.com/images/wallpapers/rapeseed-fields-1080x1920-sunny-day-summer-landscape-hd-13083.jpg);
    }
    #headerstuff {
      width: 100%;
    }
    header img {
      width: 80px;
    }
    h2 {
      float: none;
      text-align: center;
    }
    nav {
      background-color: transparent;
      height: 100%;
    }
    nav ul {
      width: 100%;
      display: block;
    }
    nav ul.hide {
      display: none;
    }
    nav a {
      font-size: 35px;
    }
    nav a:hover {
      font-size: 50px;
      background-color: rgba(0, 0, 0, 0.2);
    }
    nav button {
      display: block;
      margin: .2rem 2%;
      background-color: transparent;
      border: none;
      font-size: 30px;
      cursor: pointer;
    }
    .hiddenh2 {
      display: none;
    }
    .weather {
      position: relative;
      padding-bottom: 80px;
      display: block;
    }
    #imageplaceholder{
      display: block;
    }
    #contact {
      font-size: 18px;
    }
    #sectiontwo {
      display: flex;
    }
    #title{
      width: 300px;
    }
  }