* {
  margin: auto;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  list-style: none;
}
h1{
    background-color: aqua;
}
body{
    background-color: aqua;
}
img {
  width: 10px;
}
