@media (min-width: 1200px) {
    nav {
      background-color: beige;
      height: 100px;
      width: 100%;
    }
  }
  @media (min-width: 1200px) {
    nav ul {
      padding-top: 20px;
    }
  }
  @media (min-width: 1200px) {
    main {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
  }